@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'IBMPlex';
    src: url('/assets/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlex';
    src: url('/assets/fonts/IBMPlexSans/IBMPlexSans-Light.ttf') format('ttf');
    font-weight: 200;
    font-style: thin;
}

@font-face {
    font-family: 'IBMPlex';
    src: url('/assets/fonts/IBMPlexSans/IBMPlexSans-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'IBMPlexItalic';
    src: url('/assets/fonts/IBMPlexSans/IBMPlexSans-LightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: thin;
}

@font-face {
    font-family: 'IBMPlexItalic';
    src: url('/assets/fonts/IBMPlexSans/IBMPlexSans-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexItalic';
    src: url('/assets/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.ttf') format('ttf');
    font-weight: 400;
    font-style: bold;
}
  